header{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(Rectangle\ 5.png);
    height: 700px;
    background-repeat: no-repeat;
    background-position: bottom;
}
.navbar-toggler  {
    color: #FFFFFF !important;
}
.navbar-toggler i {
    color: #FFFFFF !important;
}

.navbar-brand{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    color: #FFFFFF !important;
}
.nav-item{
    margin-left: 20px;
}
.nav-item .nav-link{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 29px;

    color: #FFFFFF !important;
}
.active{
    border-top:2px solid #FFFFFF;
    height: 4px;
    
}
.flag{
    margin-top: 10px;
    margin-left: 50px;
}
.header-title{
   margin-top: 182px !important;
}
.header-title h3{
   
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 58px;
    line-height: 77px;

    color: #FFFFFF !important;
}
.header-soz p{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF !important;
}
.header-button{
    /* Red */
    width:409px;
    height: 60px;
    margin-top: 77px;
    margin-bottom: 290px;
    background: linear-gradient(0deg, #E73E4B, #E73E4B), url(image.png);
    background-size: cover;
    
    border-radius: 10px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 29px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}




































/* SECTION */
.group-14{
    margin-top: 80px;

}
.group-14-1 h3{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 38px;
    color: linear-gradient(0deg, #4A4A4A, #4A4A4A), url(image.png);
}
.group-14-1 p{
    margin-top: 40px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    color: linear-gradient(0deg, #4A4A4A, #4A4A4A), url(image.png);
}
.col-md-1 img{
    margin-top: 23px;
    width: 20px;
}
.form-group input {
    width: 210px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid black;
    
}
.defis{
    /* margin: 0px 10px -50px 10px; */
    font-size: 40px;
    color: grey;
    margin: -18px 15px 0px 33px;
    display: flex;
    justify-content: end;
 
}
/* .tu{
    border: 1px solid black;
} */

.section-button{
    width:210px;
    height: 60px;
    background: linear-gradient(0deg, #E73E4B, #E73E4B), url(image.png);
    border-radius: 10px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 29px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}


























.group-11{
    margin-top: 80px;
    margin-bottom: 70px;
}
.group-11 p{
    margin-left: 30px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px; 
    letter-spacing: 0.05em;
    color: linear-gradient(0deg, #4A4A4A, #4A4A4A), url(image.png);
}
.bottom{
    /* height: 4px; */
    border-bottom: 2px solid black;
    /* width: 100px !important; */
}
































.group-8 p{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 350;
    font-size: 22px;
    line-height: 29px;
    letter-spacing: 0.05em;

    /* Gray */

    color: linear-gradient(0deg, #4A4A4A, #4A4A4A), url(image.png);
    }
























.group-5{
    margin-top: 30px;
}
.card{
    margin-top: 20px;
}
.image img  {
    width: 100% !important;
}
.card-body h5{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 29px;

    /* Gray */

    color: linear-gradient(0deg, #4A4A4A, #4A4A4A), url(image.png);
}
.card-text{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    /* identical to box height */
    font-size: 25px;
    letter-spacing: 0.05em;

    /* Gray */

    color: linear-gradient(0deg, #4A4A4A, #4A4A4A), url(image.png);
}
.star i{
    color: #FACD78;
}









.group-3{
    display: flex;
    justify-content: center;
    align-items: center;
}
.group-3-button{
    width: 312px !important;
    height: 60px;
    margin-top: 80px;
    background: linear-gradient(0deg, #E73E4B, #E73E4B), url(image.png);
    border-radius: 10px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 29px;
    letter-spacing: 0.05em;

    /* white */

    color: #FFFFFF;
}









footer{
    margin-top: 80px;
    background: linear-gradient(0deg, rgba(0, 0, 0,0), rgba(0, 0, 0, 0)), url(Rectangle\ 11.png), #C4C4C4;
}
footer .row{
    
}
footer .title h1{
    margin-top: 50px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    /* identical to box height */

    letter-spacing: 0.05em;

    /* white */

    color: #FFFFFF;
}
footer .title p{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 350;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}
.contacts h1{
    margin-top: 50px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 32px;
    /* identical to box height */

    letter-spacing: 0.05em;

    /* white */

    color: #FFFFFF;
}
.contacts p{
    margin-top: 20px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    /* identical to box height */

    letter-spacing: 0.05em;

    /* white */
    color: #FFFFFF;

    /* color: #FFFFFF; */
}
.contacts h2{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 43px;
    /* identical to box height */

    letter-spacing: 0.05em;

    /* white */
    color: #FFFFFF;

    /* color: #FFFFFF; */
}
#set{
    margin-top: 40px;
    margin-bottom: 30px;
}
.icons {
    margin-top: 29px;
    margin-bottom: 30px;
}
.icons i{
    font-size: 21px;

}
.skype{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #00A9E7;

}
.youtube{
    margin-left: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #F40000;
}
.facebook{
    margin-left: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color:#4E6297;
}
.fa-skype{
    color: white;
}
.fa-facebook{
    color: white;
}
.fa-youtube{
    color: white;
}
























@media only screen and (max-width: 767px) {
    .header-title{
        margin-top: 62px !important;
     }
     .header-button{
        /* Red */
        width:300px;
       
    }
    .form-group input {
        width: 158px;
    }  
    .section-button{
        width:300px;
    }
    .group-11 p{
        font-size: 20px;
    }
   
  }
  @media only screen and ( max-width: 1023px) and (min-width: 768px){
    .header-title{
        margin-top: 130px !important;
     }
     .active{
        display: none;
    }
    .form-group input {
        margin-left: 5%;
        width: 200px;
    }  
    .section-button{
        width: 200px;
    }
    .group-11 p{
        font-size: 20px;
    }
   
  }



@media only screen and (max-width: 1024px) and (min-width: 769px) {    
    .flag {
      margin-left: 0px;
    }
    .group-14-1 p{
        margin-left: 45%;
    }
    .form-group input {
        margin-left: 30%;
    }  
    .section-button{
        margin-left: 10%;
    }
    
}

 