<template>
    <div class="col-md-2  section2-icons mx-auto">
        <div class="img d-flex justify-content-center align-items-center">
            <img :src="item.src">
        </div>
        <p>{{item.desc}}</p>
    </div>
  

</template>

<script>
export default {
    name:'CosyItems',
    props:['item']
}
</script>

<style scoped>

.section2-icons{
	margin-top: 10px;
	text-align: center;
    margin-bottom: 20px;
}
.section2-icons img{

	width: 85px;
	height: 85px;
}
.section2-icons p{
	margin-top: 15px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	font-size: 115%;
	line-height: 33px;
	color: #4A4A4A !important;
}
.img img{
    width:85px;
    height: 85px;
}
</style>