<template>
    <div class="col-md-4 d-flex justify-content-center align-items-center">
       	<div class="card">
	    	<p>{{type.text1}}</p>
	    	<h1>{{type.price1}}</h1>
	    	<p>{{type.text2}}</p>
	    </div>
	</div>	
</template>

<script>
export default {
    name:'PriceItem',
    props:['type']
}
</script>
<style  scoped>

.card{
	margin-top: 50px;
	width: 420%;
	height: 396px;
	background: #FFFFFF;
	border: 1px solid #999999;
	box-sizing: border-box;
	border-radius: 10px;
}
.card p{
	margin-top: 60px;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 150%;
	line-height: 39px;
	

	text-align: center;


	color: linear-gradient(0deg, #4A4A4A, #4A4A4A);
}
.card h1{
	margin-top: 50px;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: 600;
	font-size: 248%;
	line-height: 90px;
	text-align: center;
	letter-spacing: 0.05em;

	color: linear-gradient(0deg, #4A4A4A, #4A4A4A);
}

</style>